<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong>RecSys Challenge 2018</strong> <a href="https://github.com/irhete/recsys-challenge-2018">github</a> | <a href="https://github.com/irhete/recsys-challenge-2018">report</a> <br>
A music recommender system for automatic playlist continuation. The final submission developed for the <a href="https://recsys-challenge.spotify.com/">RecSys Challenge 2018</a>, achieved 12th place out of 112 participating teams. <br>
            <u>Skills:</u> recommender systems
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/annitrolla/car-insurance-tool">Automatic license plate detection</a></strong>
A tool that applies automatic license plate detection to images and videos of cars and, consequently, queries the Dutch Vehicle Authority (RDW) to check if a car with the found license plate number actually exists.
		</h5>
    	<h5>
			<i class="fa fa-bar-chart"></i>&nbsp;&nbsp;<strong><a href="http://www.win.tue.nl/bpi/lib/exe/fetch.php?media=2015:bpic2015_paper_3.pdf">BPI Challenge 2015</a></strong>
Analysing the building permit application process in Dutch municipalities using various process mining and data mining techniques. The work received the prize of the best student report in 
<a href="http://www.win.tue.nl/bpi/doku.php?id=2015:challenge&redirect=1id=2015/challenge">Business Process Intelligence Challenge 2015</a>.
		</h5>

    </div>
  </div>
</div>
</section>
