<section id="projects">
<div class="container">
  <h3>Research projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-align-center"></i>&nbsp;&nbsp;<strong>Predictive Business Process Monitoring with Structured and Unstructured Data</strong> <br>
            <a href="https://github.com/irhete/PredictiveMonitoringWithText">github</a> | <a href="https://link.springer.com/chapter/10.1007/978-3-319-45348-4_23">paper</a> <br>
<u>Description:</u> A framework for predictive process monitoring using both structured (categorical and numeric) and unstructured (textual) data and an experimental evaluation of different text models. <br>
            <u>Skills:</u> <span class="skill-concept">natural language processing</span>, <span class="skill-concept">classification</span>, <span class="skill">LDA</span>, <span class="skill">Naive Bayes</span>,  <span class="skill">doc2vec</span>, <span class="skill">random forest</span>, <span class="skill">logistic regression</span>, <span class="skill-language">Python</span>, <span class="skill-language">R</span>, <span class="skill-package">scikit-learn</span>, <span class="skill-package">gensim</span>, <span class="skill-package">pandas</span>
		</h5>
        <h5>
			<i class="fa fa-align-center"></i>&nbsp;&nbsp;<strong>Temporal Stability in Predictive Process Monitoring</strong> <br>
            <a href="https://github.com/irhete/stability-predictive-monitoring">github</a> | <a href="https://link.springer.com/article/10.1007%2Fs10618-018-0575-9">paper</a> <br>
<u>Description:</u> Introducing the notion of temporal stability in predictive process monitoring. Experimental evaluation of different predictive monitoring techniques wrt. prediction accuracy, earliness, and temporal stability. <br>
            <u>Skills:</u> <span class="skill">random forest</span>, <span class="skill">XGBoost</span>, <span class="skill">LSTM</span>, <span class="skill">classification</span>, <span class="skill">deep learning</span>, <span class="skill">Python</span>, <span class="skill">R</span>, <span class="skill">scikit-learn</span>, <span class="skill">pandas</span>, <span class="skill">Keras</span>, <span class="skill">GPU</span>
		</h5>
        <h5>
			<i class="fa fa-align-center"></i>&nbsp;&nbsp;<strong>Alarm-Based Prescriptive Process Monitoring</strong> <br>
            <a href="https://github.com/TaXxER/AlarmBasedProcessPrediction">github</a> | <a href="https://link.springer.com/chapter/10.1007/978-3-319-98651-7_6">paper</a> <br>
<u>Description:</u> A framework for alarm-based prescriptive process monitoring. The proposed alarming mechanism takes as input a cost model and finds the optimal decision threshold through empirical thresholding. <br>
            <u>Skills:</u> <span class="skill-concept">cost-sensitive learning</span>,  <span class="skill-concept">classification</span>, <span class="skill">random forest</span>, <span class="skill">LightGBM</span>, <span class="skill-language">Python</span>, <span class="skill-package">scikit-learn</span>, <span class="skill-package">pandas</span>, <span class="skill-package">hyperopt</span>
		</h5>
                <h5>
			<i class="fa fa-align-center"></i>&nbsp;&nbsp;<strong>An Interdisciplinary Comparison of Sequence Modeling Methods for Next-Element Prediction</strong> <br>
            <a href="https://github.com/TaXxER/rnnalpha">github</a> | <a href="https://link.springer.com/chapter/10.1007/978-3-319-91704-7_11">conference paper</a> | <a href="https://arxiv.org/abs/1811.00062">journal paper</a> <br>
<u>Description:</u> In this work we conduct an experimental evaluation of sequence modeling methods from machine learning, grammar inference, and process mining fields. <br>
            <u>Skills:</u> <span class="skill-concept">classification</span>, <span class="skill-concept">deep learning</span>, <span class="skill">LSTM</span>, <span class="skill">GRU</span>, <span class="skill">RNN</span>, <span class="skill">HMM</span>, <span class="skill">Markov chains</span>, <span class="skill-language">Python</span>, <span class="skill-package">Keras</span>
		</h5>
        <h5>
			<i class="fa fa-align-center"></i>&nbsp;&nbsp;<strong>Community-Based Prediction of Activity Change in Skype</strong> <br>
            <a href="https://ieeexplore.ieee.org/document/7403525">paper</a> <br>
<u>Description:</u> Predicting the change in product usage in automatically discovered communities in the social network of Skype users. <br>
            <u>Skills:</u> <span class="skill-concept">social network analysis</span>, <span class="skill-concept">community detection</span>, <span class="skill-concept">classification</span>, <span class="skill">random forest</span>, <span class="skill-language">R</span>, <span class="skill-language">C++</span>
		</h5>
                <h5>
			<i class="fa fa-align-center"></i>&nbsp;&nbsp;<strong>Outcome-Oriented Predictive Process Monitoring: Review and Benchmark</strong> <br>
            <a href="https://github.com/irhete/predictive-monitoring-benchmark">github</a> | <a href="https://arxiv.org/abs/1707.06766">paper</a> <br>
<u>Description:</u> A systematic literature review, comparative analysis, and experimental evaluation of techniques for predictive business process monitoring. <br>
            <u>Skills:</u> <span class="skill">random forest</span>, <span class="skill">XGBoost</span>, <span class="skill">SVM</span>, <span class="skill">logistic regression</span>, <span class="skill-language">Python</span>, <span class="skill-language">R</span>, <span class="skill-package">scikit-learn</span>, <span class="skill-package">pandas</span>
		</h5>
                        <h5>
			<i class="fa fa-align-center"></i>&nbsp;&nbsp;<strong>Clustering-Based Predictive Process Monitoring</strong> <br>
            <a href="https://ieeexplore.ieee.org/document/7797472">paper</a> <br>
<u>Description:</u> A technique for predictive process monitoring that clusters the trace prefixes and builds a classifier for each cluster. <br>
            <u>Skills:</u> <span class="skill-concept">clustering</span>, <span class="skill-concept">classification</span>, <span class="skill">random forest</span>, <span class="skill">decision trees</span>, <span class="skill">model-based clustering</span>, <span class="skill">DBSCAN</span>, <span class="skill-language">Java</span>, <span class="skill-language">R</span>
		</h5>
    </div>
  </div>
</div>
    
<div class="container">
  <h3>Data science challenges</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong>RecSys Challenge 2018 (12th place out of 112)</strong> <br>
            <a href="https://github.com/irhete/recsys-challenge-2018">github</a> | <a href="https://github.com/irhete/recsys-challenge-2018">report</a> <br>
<u>Description:</u> A music recommender system for automatic playlist continuation. The final submission developed for the <a href="https://recsys-challenge.spotify.com/">RecSys Challenge 2018</a>, achieved 12th place out of 112 participating teams. <br>
            <u>Skills:</u> <span class="skill-concept">recommender systems</span>, <span class="skill">collaborative filtering</span>
		</h5>
    	<h5>
			<i class="fa fa-bar-chart"></i>&nbsp;&nbsp;<strong>BPI Challenge 2015 (2nd place out of 9)</strong> <br>
            <a href="http://www.win.tue.nl/bpi/lib/exe/fetch.php?media=2015:bpic2015_paper_3.pdf">report</a> <br>
<u>Description:</u> Analysing the building permit application process in Dutch municipalities using various process mining and data mining techniques. The work received the prize of the best student report in 
<a href="http://www.win.tue.nl/bpi/doku.php?id=2015:challenge&redirect=1id=2015/challenge">Business Process Intelligence Challenge 2015</a>. <br>
            <u>Skills:</u> <span class="skill-concept">data analysis</span>, <span class="skill-concept">process mining</span>, <span class="skill-language">Java</span>, <span class="skill-language">R</span>
		</h5>

    </div>
  </div>
</div>
    
<div class="container">
  <h3>Other open-source projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Automatic License Plate Detection</strong> <br>
            <a href="https://github.com/annitrolla/car-insurance-tool">github</a><br>
<u>Description:</u> A tool that applies automatic license plate detection to images and videos of cars and, consequently, queries the Dutch Vehicle Authority (RDW) to check if a car with the found license plate number actually exists. <br>
            <u>Skills:</u> <span class="skill-concept">image processing</span>, <span class="skill-language">Python</span>, <span class="skill-package">cv2</span>, <span class="skill-package">django</span>
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Trace Generation Using LSTM</strong> <br>
            <a href="https://github.com/irhete/lstm-business-process-trace-generation">github</a><br>
<u>Description:</u> Training an LSTM neural network for generating business process execution traces. <br>
            <u>Skills:</u> <span class="skill-concept">deep learning</span>, <span class="skill">LSTM</span>, <span class="skill-language">Python</span>, <span class="skill-package">Keras</span>
		</h5>

        		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Skipgram-style embeddings for business process concepts</strong> <br>
            <a href="https://github.com/irhete/business-process-embeddings">github</a><br>
<u>Description:</u> Representation learning for business process activities and resources, inspired by word embeddings. <br>
            <u>Skills:</u> <span class="skill-concept">natural language processing</span>, <span class="skill">word embeddings</span>, <span class="skill">skipgram</span>, <span class="skill">word2vec</span>, <span class="skill">neural networks</span>, <span class="skill-language">Python</span>, <span class="skill-package">gensim</span>
		</h5>

 <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Reinforcement Learning: Black Box Challenge</strong> <br>
            <a href="https://github.com/irhete/blackbox">github</a><br>
<u>Description:</u> Implementing reinforcement learning methods for <a href="https://www.kdnuggets.com/2016/04/black-box-challenge-machine-learning-competition.html">Black Box Challenge 2016</a>.<br>
            <u>Skills:</u> <span class="skill-concept">reinforcement learning</span>
		</h5>
    </div>
  </div>
</div>
</section>
